<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JPEG</title>
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
</head>
<body style="overflow: hidden" >
<h1 style="text-align: center">Welcome to JPEG</h1>
<h5 style="color :darkred; text-align: center;">*This landing page is still in development </h5>
<div style="text-align: center">
<div><a href="/signup"><button class="btn btn-default">Sign Up</button></a></div>
<br/>
<div><a href="signup"><button class="btn btn-default">Login</button></a></div>
</div>
</body>
</html>